@model ICollection<BVS.Data.Models.ATM>
@{
    ViewData["Title"] = "ProblemForm";
}

<h2>Pranešti apie nesklandumus</h2>

@using (Html.BeginForm("ProblemForm", "Problem", FormMethod.Post))
{
    <div class="dropdown">
        <select class="btn btn-primary dropdown-toggle" name="ATMId" required="">
            <option value="" selected disabled hidden>Pasirinkite bankomato adresą</option>
            @foreach(var a in Model)
            {
                <option value="@a.Id">@a.Address</option>
            }
        </select>
    </div>
    <br>
    <textarea class="form-control" name="Problem" rows="5" placeholder="Nesklandumai" style="resize: none" required=""></textarea>
    <br>
    <button class="btn btn-info" type="submit">Pateikti</button>
}
