@model BVS.Data.DTOs.LoginDto
@{
    ViewData["Title"] = "Login";
}

<h2>Prisijungimas</h2>
@ViewBag.Error

@using (Html.BeginForm(FormMethod.Post))
{
    @Html.TextBoxFor(x=>x.Username,new {@class= "center-block", @style = "resize: none", @required = "", @placeholder = "Prisijungimo vardas" })
    <br>
    @Html.TextBoxFor(x=>x.Password,new {@class="center-block", @type = "password" , @rows = "1",@cols="20", @placeholder = "Slaptažodis", @required = "" })
    <br>
    <button class="btn btn-info center-block" type="submit">Prisijungti</button>
}

