
@{
    ViewData["Title"] = "OrdersPage";
}

<h2>Užsakymai</h2>


<br><br>
    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th>Dalys</th>
                    <th>Užsakytojas</th>
                    <th>Kaina</th>
                    <th>Užsakymo data</th>
                    <th>Atvykimo data</th>
                </tr>
            </thead>

            <tbody>
                @for (int i = 0; i < 10; i++)
                {
                    <tr>
                        <td>Mygtukas, apsauga </td>
                        <td>Pranas Pranauskas</td>
                        <td>50 Eu</td>
                        <td>2019-05-16</td>
                        <td>2019-05-22</td>

                    </tr>
                }

            </tbody>
        </table>
        <button class="btn btn-info pull-right" type="button" onclick="location.href='@Url.Action("OrderForm", "Warehouse")'">Pridėti užsakymą</button>

    </div>