@model ICollection<BVS.Data.Models.ATM_Part>
@{
    ViewData["Title"] = "OrderForm";
}

<h2>Užsakymas</h2>

@using (Html.BeginForm("OrderForm", "Warehouse", FormMethod.Post))
{
    <select name="listbox" id="listbox" multiple>
        @foreach (var item in Model)
        {
            <option value="@item.Name">
                @item.Name
            </option>
        }

    </select>
    <input type="submit">
}