@{
    ViewData["Title"] = "WarehousePage";
}

<h2>Sandėlininko pagrindinis puslapis</h2>

<button class="btn btn-info" type="button" onclick="location.href='@Url.Action("OrdersPage", "Warehouse")'">Užsakymai</button>

