@model ICollection<BVS.Data.Models.ATM>
@{
    ViewData["Title"] = "SubscriptionView";
}

<h2>Prenumeratos</h2>

<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Adresas</th>
                <th>Būsena</th>
                <th>Atšaukti prenumeratą</th>
            </tr>
        </thead>

        <tbody>
            @foreach(var a in Model)
            {
                <tr>
                    <td>@a.Address</td>
                    <td>@a.State</td>
                    <td><button class="btn btn-info" type="button">Atšaukti</button></td>

                </tr>
            }

        </tbody>


    </table>

</div>
